<!DOCTYPE html>
<html>
    <head th:insert="~{header :: header}">

    </head>
    <body>
        <!-- navbar-->
        <header th:insert="~{navbar :: navbar}">

        </header>
        <div id="all">
            <div id="content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- breadcrumb-->
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li aria-current="page" class="breadcrumb-item active">Shopping cart</li>
                                </ol>
                            </nav>
                        </div>
                        <div id="basket" class="col-lg-12">
                            <div class="box">
                                <h1>Shopping cart</h1>
                                <p class="text-muted">You currently have 3 item(s) in your cart.</p>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Product</th>
                                                <th>Quantity</th>
                                                <th>Unit price</th>
                                                <th colspan="2">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="row : ${data}">
                                                <td><a href="#"><img th:src="@{img/product/{image} (image = ${row.getProduct().Image})}"></a></td>
                                                <td><a th:text="${row.getProduct().ProductName}" href="#">Product name</a></td>
                                                <td>
                                                    <form method="POST" th:action="@{cart}">
                                                        <input typme="text" name="productId" th:value="${row.getProduct().ProductID}" hidden />
                                                        <input type="number" name="qty" th:value="${row.getQty()}" min="1" class="form-control" onchange="submit()">
                                                    </form>
                                                </td>
                                                <td th:text="${#numbers.formatCurrency(row.getProduct().Price)}">Price</td>
                                                <td th:text="${#numbers.formatCurrency(row.getTotal())}">Total price</td>
                                                <td><a th:href="@{cart/remove/{productId} (productId = ${row.getProduct().ProductID})}"><i class="fa fa-trash-o"></i></a></td>
                                            </tr> 
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="5">Total</th>
                                                <th colspan="2" th:text="${#numbers.formatCurrency(total)}">$446.00</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <!-- /.table-responsive-->
                                <div class="box-footer d-flex justify-content-between flex-column flex-lg-row">
                                    <div class="left"><a th:href="@{/}" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i> Continue shopping</a></div>
                                    <div class="right">
                                        <button class="btn btn-outline-secondary"><i class="fa fa-refresh"></i> Update cart</button>
                                        <a th:href="@{/checkout}" class="btn btn-primary">Proceed to checkout <i class="fa fa-chevron-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        *** COPYRIGHT ***
        _________________________________________________________
        -->
        <div id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-2 mb-lg-0">
                        <p class="text-center text-lg-left">©2019 Your name goes here.</p>
                    </div>
                    <div class="col-lg-6">
                        <p class="text-center text-lg-right">Template design by <a href="https://bootstrapious.com/">Bootstrapious</a>
                            <!-- If you want to remove this backlink, pls purchase an Attribution-free License @ https://bootstrapious.com/p/obaju-e-commerce-template. Big thanks!-->
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- *** COPYRIGHT END ***-->
    <th:block th:insert="~{script :: script}">

    </th:block>
</body>
</html>