<!DOCTYPE html>
<html>
    <head th:insert="~{header :: header}">

    </head>
    <body>
        <!-- navbar-->
        <header th:insert="~{navbar :: navbar}">

        </header>
        <div id="all">
            <div id="content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- breadcrumb-->
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li aria-current="page" class="breadcrumb-item active">Shopping cart</li>
                                </ol>
                            </nav>
                        </div>
                        <div id="basket" class="col-lg-9">
                            <div class="box">
                                <form method="post" action="checkout1.html">
                                    <h1>Shopping cart</h1>
                                    <p class="text-muted">You currently have 3 item(s) in your cart.</p>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th colspan="2">Product</th>
                                                    <th>Quantity</th>
                                                    <th>Unit price</th>
                                                    <th colspan="2">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="row : ${data}">
                                                    <td><a href="#"><img th:src="@{img/product/{image} (image = ${row.getProduct().Image})}" alt="White Blouse Armani"></a></td>
                                                    <td><a th:text="${row.getProduct().ProductName}" href="#">Product name</a></td>
                                                    <td>
                                                        <input type="number" th:value="${row.getQty()}" class="form-control">
                                                    </td>
                                                    <td th:text="${#numbers.formatCurrency(row.getProduct().Price)}">Price</td>
                                                    <td th:text="${#numbers.formatCurrency(row.getTotal())}">Total price</td>
                                                    <td><a href="#"><i class="fa fa-trash-o"></i></a></td>
                                                </tr> 
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th colspan="5">Total</th>
                                                    <th colspan="2">$446.00</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive-->
                                    <div class="box-footer d-flex justify-content-between flex-column flex-lg-row">
                                        <div class="left"><a href="category.html" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i> Continue shopping</a></div>
                                        <div class="right">
                                            <button class="btn btn-outline-secondary"><i class="fa fa-refresh"></i> Update cart</button>
                                            <button type="submit" class="btn btn-primary">Proceed to checkout <i class="fa fa-chevron-right"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.box-->
                        </div>
                        <!-- /.col-lg-9-->
                        <div class="col-lg-3">
                            <div id="order-summary" class="box">
                                <div class="box-header">
                                    <h3 class="mb-0">Order summary</h3>
                                </div>
                                <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>Order subtotal</td>
                                                <th>$446.00</th>
                                            </tr>
                                            <tr>
                                                <td>Shipping and handling</td>
                                                <th>$10.00</th>
                                            </tr>
                                            <tr>
                                                <td>Tax</td>
                                                <th>$0.00</th>
                                            </tr>
                                            <tr class="total">
                                                <td>Total</td>
                                                <th>$456.00</th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /.col-md-3-->
                    </div>
                </div>
            </div>
        </div>
        <!--
        *** COPYRIGHT ***
        _________________________________________________________
        -->
        <div id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-2 mb-lg-0">
                        <p class="text-center text-lg-left">©2019 Your name goes here.</p>
                    </div>
                    <div class="col-lg-6">
                        <p class="text-center text-lg-right">Template design by <a href="https://bootstrapious.com/">Bootstrapious</a>
                            <!-- If you want to remove this backlink, pls purchase an Attribution-free License @ https://bootstrapious.com/p/obaju-e-commerce-template. Big thanks!-->
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- *** COPYRIGHT END ***-->
    <th:block th:insert="~{script :: script}">

    </th:block>
</body>
</html>