<!DOCTYPE html>
<html>
    <head th:insert="~{header :: header}">

    </head>
    <body>
        <!-- navbar-->
        <header th:insert="~{navbar :: navbar}">

        </header>
        <div id="all">
            <div id="content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <!--
                            *** MENUS AND FILTERS ***
                            _________________________________________________________
                            -->
                            <div class="card sidebar-menu mb-4">
                                <div class="card-header">
                                    <h3 class="h4 card-title">Categories</h3>
                                </div>
                                <div class="card-body">
                                    <ul class="nav nav-pills flex-column category-menu">
                                        <li>
                                            <a th:href="@{/}">All</a>
                                        </li>
                                        <li th:each ="row : ${straps}">
                                            <a th:href="@{/category/{strapId}(strapId=${row.StrapID})}" th:text="${row.StrapName}" class="nav-link"><span class="badge badge-secondary"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- *** MENUS AND FILTERS END ***-->
                        </div>
                        <div class="col-lg-9">
                            <div class="row products">
                                <div th:each ="row : ${data}" class="col-lg-4 col-md-6">
                                    <div class="product">
                                        <div class="flip-container">
                                            <div class="flipper">
                                                <div class="front"><a href="detail.html"><img th:src="@{/img/product/{image}(image=${row.Image})}" alt="" class="img-fluid"></a></div>
                                                <div class="back"><a href="detail.html"><img th:src="@{/img/product/{image}(image=${row.Image})}" alt="" class="img-fluid"></a></div>
                                            </div>
                                        </div><a href="detail.html" class="invisible"><img th:src="@{/img/product1.jpg}" alt="" class="img-fluid"></a>
                                        <div class="text">
                                            <h3><a th:text="${row.ProductName}" href="detail.html">Product name</a></h3>
                                            <p class="price"> 
                                                <del></del><th:block th:text="${#numbers.formatCurrency(row.Price)}">Price</th:block>
                                            </p>
                                            <p class="buttons">
                                                <a href="#" class="btn btn-outline-secondary">View detail</a>
                                                <a th:href="@{cart/add/{productId} (productId = ${row.ProductID})}" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                            </p>
                                        </div>
                                        <!-- /.text-->
                                    </div>
                                    <!-- /.product            -->
                                </div>
                            </div>
                        </div>
                        <!-- /.col-lg-9-->
                    </div>
                </div>
            </div>
        </div>
        <!--
        *** COPYRIGHT ***
        _________________________________________________________
        -->
        <div id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-2 mb-lg-0">
                        <p class="text-center text-lg-left">©2019 Your name goes here.</p>
                    </div>
                    <div class="col-lg-6">
                        <p class="text-center text-lg-right">Template design by <a href="https://bootstrapious.com/">Bootstrapious</a>
                            <!-- If you want to remove this backlink, pls purchase an Attribution-free License @ https://bootstrapious.com/p/obaju-e-commerce-template. Big thanks!-->
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- *** COPYRIGHT END ***-->
    <th:block th:insert="~{script :: script}">

    </th:block>
</body>
</html>