<!DOCTYPE html>
<html>
    <head th:insert="~{header :: header}">

    </head>
    <body>
        <!-- navbar-->
        <header th:insert="~{navbar :: navbar}">

        </header>
        <div id="all">
            <div id="content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- breadcrumb-->
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li aria-current="page" class="breadcrumb-item active">Checkout - Address</li>
                                </ol>
                            </nav>
                        </div>
                        <div id="checkout" class="col-lg-12">
                            <div class="box">
                                <form method="get" action="checkout2.html">
                                    <h1>Checkout - Address</h1>
                                    <div class="nav flex-column flex-md-row nav-pills text-center">
                                        <a href="checkout1.html" class="nav-link flex-sm-fill text-sm-center active"> <i class="fa fa-map-marker"></i>Address</a>
                                    </div>
                                    <div class="content py-3">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="firstname">Full name</label>
                                                    <input id="fullname" type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="lastname">Address</label>
                                                    <input id="address" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.row-->
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th colspan="2">Product</th>
                                                    <th>Quantity</th>
                                                    <th>Unit price</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="row : ${data}">
                                                    <td><a href="#"><img th:src="@{img/product/{image} (image = ${row.getProduct().Image})}"></a></td>
                                                    <td><a href="#" th:text="${row.getProduct().ProductName}">Product Name</a></td>
                                                    <td th:text="${row.getQty()}">Quantity</td>
                                                    <td th:text="${#numbers.formatCurrency(row.getProduct().Price)}">$123.00</td>
                                                    <td th:text="${#numbers.formatCurrency(row.getTotal())}">$246.00</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th colspan="5">Total</th>
                                                    <th th:text="${#numbers.formatCurrency(total)}">$446.00</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <div class="box-footer d-flex justify-content-between"><a th:href="@{cart}" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i>Back to Basket</a>
                                        <button type="submit" class="btn btn-primary">Place Order<i class="fa fa-chevron-right"></i></button>
                                    </div>
                                </form>
                            </div>
                            <!-- /.box-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        *** COPYRIGHT ***
        _________________________________________________________
        -->
        <div id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-2 mb-lg-0">
                        <p class="text-center text-lg-left">©2019 Your name goes here.</p>
                    </div>
                    <div class="col-lg-6">
                        <p class="text-center text-lg-right">Template design by <a href="https://bootstrapious.com/">Bootstrapious</a>
                            <!-- If you want to remove this backlink, pls purchase an Attribution-free License @ https://bootstrapious.com/p/obaju-e-commerce-template. Big thanks!-->
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- *** COPYRIGHT END ***-->
    <th:block th:insert="~{script :: script}">

    </th:block>
</body>
</html>