<!DOCTYPE html>
<html>
    <head th:insert="~{header :: header}">

    </head>
    <body>
        <!-- navbar-->
        <header th:insert="~{navbar :: navbar}">

        </header>
        <div th:if="${#fields.hasErrors('${customer}')}">
            <ul>
                <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
            </ul>
        </div>
        <div id="all">
            <div id="content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- breadcrumb-->
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li aria-current="page" class="breadcrumb-item active">New account / Sign in</li>
                                </ol>
                            </nav>
                        </div>
                        <div class="col-lg-6">
                            <div class="box">
                                <h1>New account</h1>
                                <p class="lead">Not our registered customer yet?</p>
                                <p>With registration with us new world of fashion, fantastic discounts and much more opens to you! The whole process will not take you more than a minute!</p>
                                <hr>
                                <form th:action="@{register}" th:object="${customer}" method="POST">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input th:field="*{FullName}" id="fullname" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Address</label>
                                        <input th:field="*{Address}" id="address" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Username</label>
                                        <input  th:field="*{Username}"id="username" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input th:field="*{Password}" id="password" type="password" class="form-control">
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-user-md"></i> Register</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="box">
                                <h1>Login</h1>
                                <p class="lead">Already our customer?</p>
                                <hr>
                                <form action="/" method="post">
                                    <div class="form-group">
                                        <label>UserName</label>
                                        <input type="text" class="form-control" name="username" placeholder="Username">
                                    </div>
                                    <div class="form-group">
                                        <label>Password:</label>
                                        <input type="password" class="form-control" name="password" placeholder="Password">
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Log in</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--
        *** COPYRIGHT ***
        _________________________________________________________
        -->
        <div id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-2 mb-lg-0">
                        <p class="text-center text-lg-left">©2019 Your name goes here.</p>
                    </div>
                    <div class="col-lg-6">
                        <p class="text-center text-lg-right">Template design by <a href="https://bootstrapious.com/">Bootstrapious</a>
                            <!-- If you want to remove this backlink, pls purchase an Attribution-free License @ https://bootstrapious.com/p/obaju-e-commerce-template. Big thanks!-->
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- *** COPYRIGHT END ***-->
    <th:block th:insert="~{script :: script}">

    </th:block>
</body>
</html>