<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org}">
    <head>

    </head>
    <body th:fragment="script">
        <!-- JavaScript files-->
        <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
        <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/vendor/jquery.cookie/jquery.cookie.js}"> </script>
        <script th:src="@{/vendor/owl.carousel/owl.carousel.min.js}"></script>
        <script th:src="@{/vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.js}"></script>
        <script th:src="@{/js/front.js}"></script>
    </body>
</html>
